@import '../../variable';

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: $font-family-trirong;
    font-size: 75px;
    color: $color_blue1;
    margin: 50px;
    .welcome-row {
        display: flex;
        justify-content: center;
        .welcome-box {
                box-shadow: $dashboard_box_shadow;
                border-radius: 20px;
                padding: 30px;
                margin-bottom: 40px;
                width: 1000px;
                height: 350px;
                display: flex;
                justify-content: center;
                align-items: center;
        }
    }
}

